button.button {
  height: 40px;
  padding: var(--space-m) var(--space-l);
  border-radius: 30rem;
  font: var(--font-label-large);
  line-height: 1;
  width: max-content;
  text-wrap: nowrap;
  position: relative;
  user-select: none;
  overflow: hidden;
}

button.button.icon {
  padding-left: calc(var(--space-xl) * 1.2);
}

button.button.icon::before {
  position: absolute;
  left: var(--space-ml);
  top: 50%;
  transform: translateY(-50%);
  content: var(--icon);
  font-size: 1.8rem;
}

button.button::after {
  transition: opacity var(--transition);
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
}

button.button:where(:hover, :focus-visible)::after {
  opacity: 0.05;
}

button.button.tonal {
  background-color: var(--color-secondary-container);
}

button.button.filled {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

button.button.filled::after {
  background-color: white;
}

button.button.filled:where(:hover, :focus)::after {
  opacity: 0.15;
}
