button.button {
  transition: all var(--transition);
  height: 40px;
  padding: var(--space-m) var(--space-l);
  border-radius: 30rem;
  font: var(--font-label-large);
  line-height: 1;
  width: max-content;
  text-wrap: nowrap;
  position: relative;
  user-select: none;
  overflow: hidden;
  --current-color: var(--color-surface);
  background-color: var(--current-color);
}

button.button.icon {
  padding-left: calc(var(--space-xl) * 1.2);
}

button.button.icon::before {
  position: absolute;
  left: var(--space-ml);
  top: 50%;
  transform: translateY(-50%);
  content: var(--icon);
  font-size: 1.8rem;
}

button.button:where(:hover, :focus-visible) {
  background-color: color-mix(in srgb, var(--current-color) 100%, black 5%);
}

button.button.tonal {
  --current-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}

button.button.filled {
  --current-color: var(--color-primary);
  color: var(--color-on-primary);
}

button.button.filled:where(:hover, :focus) {
  background-color: color-mix(in srgb, var(--current-color) 100%, white 15%);
}
