.nav-tab {
  color: var(--color-on-surface-variant);
  font: var(--font-label-medium);
  user-select: none;
}

.nav-tab div::after {
  content: var(--icon);
}

.nav-tab div {
  height: var(--space-xl);
  width: var(--space-xxxl);
  font-size: var(--space-l);
  border-radius: var(--space-ml);
  display: grid;
  place-items: center;
  margin-bottom: var(--space-xs);
  position: relative;
  overflow: hidden;
}

.nav-tab.active div {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}

.nav-tab div::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  transition: opacity var(--transition);
  opacity: 0;
}

.nav-tab:where(:hover, :focus-visible) div::before {
  opacity: 0.05;
}
