.nav-tab {
  color: var(--color-on-surface-variant);
  font: var(--font-label-medium);
  user-select: none;
}

.nav-tab div::after {
  content: var(--icon);
}

.nav-tab div {
  height: var(--space-xl);
  width: var(--space-xxxl);
  font-size: var(--space-l);
  border-radius: var(--space-ml);
  display: grid;
  place-items: center;
  margin-bottom: var(--space-xs);
  position: relative;
  overflow: hidden;
  --current-color: transparent;
  background-color: var(--current-color);
  transition: all var(--transition);
}

.nav-tab.active div {
  --current-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}

.nav-tab:where(:hover, :focus-visible) div {
  background-color: color-mix(in srgb, var(--current-color) 100%, black 5%);
}
