#books-wrapper {
  margin-top: var(--space-m);
}

#books-wrapper .chip-dropdown {
  margin-left: auto;
  margin-bottom: var(--space-s);
}

/* ---------------- */

#books {
  background-color: var(--color-surface-container);
  border-radius: var(--space-ml);
  padding: var(--space-ml);
  width: 100%;
}

#books ul {
  margin: 0;
  display: grid;
  gap: var(--space-xs) var(--space-m);
  align-items: center;
  grid-template-columns: auto 4fr 1fr auto auto auto;
  padding: 0;
}

#books hr {
  grid-column: span 6;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-outline-variant);
}

#books li {
  list-style-type: none;
  display: contents;
  margin: 0;
}
#books li:last-child hr {
  display: none;
}

/* ___________________ */

#books .titel {
  font: var(--font-title-medium);
}

#books .titel.fav span::after {
  content: "\e87d";
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  color: var(--color-primary60);
  vertical-align: -2px;
  margin-left: var(--space-xs);
}

#books :where(.autor, .genre) {
  font: var(--font-body-medium);
}

#books .edit .icon-button div {
  color: var(--color-on-surface);
}

#books div[data-gelesen] {
  font-size: 2.6rem;
  line-height: 1;
  text-align: center;
}

#books div[data-gelesen="true"]::before {
  content: "\f53e";
}

#books div[data-gelesen="false"]::before {
  content: "\e0e0";
}

#books div.spice,
#books div.bewertung {
  font-size: 1.8rem;
  line-height: 1;
}

#books div:where(.spice, .bewertung) span {
  display: inline-block;
}

#books div.spice span::after {
  content: "\f16a";
  color: var(--color-error);
}

#books div.bewertung span::after {
  content: "\e838";
  color: var(--color-tertiary70);
}

#books span.filled::after {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

#books .icon-button {
  text-align: center;
}

#books .icon-button div {
  font-size: 2rem;
  color: var(--color-on-surface-variant);
}

/* _____________________________ */

@media (max-width: 768px) {
  #books .title-autor {
    grid-area: title-autor;
  }

  #books .ics {
    grid-area: ics;
    align-self: center;
  }

  #books .genre {
    display: none;
  }

  #books .spice {
    grid-area: spice;
  }

  #books .bewertung {
    grid-area: bewertung;
  }

  #books .edit {
    grid-area: edit;
  }

  #books ul {
    margin: 0;
    display: flex;
    gap: var(--space-xs);
    align-items: stretch;
    flex-direction: column;
    padding: 0;
  }

  #books li {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto 3fr auto auto;
    gap: var(--space-xs) var(--space-m);
    grid-template-areas:
      "ics title-autor title-autor edit"
      "ics bewertung spice spice";
    margin: 0;
  }

  #books hr {
    grid-column: span 4;
  }
}
