#modal {
  height: min(80vh, 696px);
  width: min(60vw, 600px);
  padding: 0;
  border-radius: 2.8rem;
  background-color: var(--color-surface);
  border: none;
  place-items: center;
  box-shadow:
    0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

::backdrop {
  background-color: black;
  opacity: 0.2;
}

#modal .icon-button {
  position: absolute;
  top: var(--space-m);
  right: var(--space-s);
  padding: var(--space-xs);
}

#modal .icon-button div {
  font-size: var(--space-l);
}

#modal .modal-content-area {
  height: 100%;
  overflow-y: scroll;
  padding: var(--space-xxl) var(--space-xl) var(--space-xl);
  scrollbar-color: var(--color-outline) var(--color-surface);
}

#modal .button-row {
  margin-left: auto;
  gap: var(--space-s);
  display: flex;
}
