.icon-button div::after {
  content: var(--icon);
}

.icon-button {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  padding: var(--space-s);
  aspect-ratio: 1;
  transition: all var(--transition);
  --current-color: transparent;
  background-color: var(--current-color);
}

.icon-button div {
  font-size: var(--space-xl);
  display: block;
}

.icon-button:where(:hover, :focus-visible) {
  background-color: color-mix(in srgb, var(--current-color) 100%, black 5%);
}
