.nav-button div::after {
  content: var(--icon);
}

.nav-button {
  height: var(--space-xxl);
  width: var(--space-xxl);
  color: var(--color-on-surface-variant);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  user-select: none;
  transition: all var(--transition);
  --current-color: transparent;
  background-color: var(--current-color);
}

.nav-button div {
  font-size: var(--space-xl);
  display: block;
}

.nav-button.background {
  height: var(--space-xxxl);
  width: var(--space-xxxl);
  --current-color: var(--color-tertiary-container);
  border-radius: 1.6rem;
}

.nav-button:where(:hover, :focus-visible) {
  background-color: color-mix(in srgb, var(--current-color) 100%, black 5%);
}
