.nav-button div::after {
  content: var(--icon);
}

.nav-button {
  height: var(--space-xxl);
  width: var(--space-xxl);
  color: var(--color-on-surface-variant);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  user-select: none;
}

.nav-button div {
  font-size: var(--space-xl);
  display: block;
}

.nav-button.background {
  height: var(--space-xxxl);
  width: var(--space-xxxl);
  background-color: var(--color-tertiary-container);
  border-radius: 1.6rem;
}

.nav-button::after {
  transition: opacity var(--transition);
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
}

.nav-button:where(:hover, :focus-visible)::after {
  opacity: 0.05;
}
