.icon-button div::after {
  content: var(--icon);
}

.icon-button {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  padding: var(--space-s);
  aspect-ratio: 1;
}

.icon-button div {
  font-size: var(--space-xl);
  display: block;
}

.icon-button:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.05;
}
