.chip-dropdown {
  border: 1px solid var(--color-outline);
  border-radius: var(--space-s);
  font: var(--font-label-large);
  color: var(--color-on-surface-variant);
  padding: var(--space-xs) var(--space-ml);
  width: max-content;
  user-select: none;
  position: relative;
  overflow: hidden;
  height: var(--space-xl);
  display: flex;
  align-items: center;
  --current-color: var(--color-surface);
  background-color: var(--current-color);
  transition: all var(--transition);
}

.chip-dropdown .icon::before {
  content: "\e152";
  font-size: var(--space-ml);
  color: var(--color-on-surface-variant);
  margin-right: var(--space-xs);
  margin-left: calc(-1 * var(--space-xs));
  vertical-align: -3px;
}

.chip-dropdown select {
  font: var(--font-label-large);
  color: var(--color-on-surface-variant);
  line-height: 1;
  height: 100%;
}

.chip-dropdown:hover,
.chip-dropdown:has(input:focus-visible) {
  background-color: color-mix(in srgb, var(--current-color) 100%, black 5%);
}
